
// [ ANALYTICS PANEL ]
.dashboard .monitor .analytics {
    width: 30%;
    aspect-ratio: 9/13;
    padding: var(--m-tiny);
    border-radius: 6px;
    background: $white;
    @extend .shadow-black;

    .caption {
        margin: 0; margin-bottom: 7px; color: $grey; font-size: 1.6rem;
    }
    .estimation {
        margin: 0; margin-bottom: 50px; color: $d-grey; font-size: 2rem;

        &.defect    { color: $red   }
        &.no-defect { color: $green }
    }
    .defect-rate {
        width: 100%;
        @include flex-align(def, def, column);

        .caption {
            margin-top: 15px; color: $grey; font-size: 1.6rem;
        }
    }
    .invoice {
        width: 100%;
        font-size: 2rem;
        text-align: center;

        &.defect    { color: $red   }
        &.no-defect { color: $green }
    }
}