
// [ SUPPLIERS OVERVIEW ]
.suppliers-overview .suppliers {
    border-bottom: 2px solid $line;
    margin-bottom: 60px;
    padding-bottom: 60px;

    &:last-of-type {
        border-bottom: none;
    }
}

.suppliers-overview .suppliers div.title {
    margin-bottom: 40px;
    @include flex-align(flex-start);

    p.title {
        color: $d-grey;
        font-size: 2rem;
        margin-right: 30px;
    }
}

.suppliers-overview .supplier-cards {
    flex-wrap: wrap;
    gap: 30px;
    @include flex-align(flex-start, flex-start);
}
.suppliers-overview .supplier-card {
    width: 500px; height: 250px;
    background: $white;
    border-radius: 5px;
    @extend .shadow-black;
    @include flex-align(flex-start, stretch);

    .supplier-info {
        width: 320px;
        padding: 25px;
        @include flex-align(space-between, flex-start, column);

        .supplier-title {
            margin: 0;
            color: $d-grey;
            font-size: 1.6rem;

            span {
                display: block;
                margin-bottom: 5px;
                color: $grey;
                font-size: 1.4rem;
            }
        }
        .supplier-metrics span {
            display: block;
            margin-bottom: 5px;
            color: $grey;
            font-size: 1.6rem;
        }
    }
    .defect-rate {
        width: 180px;
        padding: 25px;
        border-left: 2px solid $line;
        @include flex-align(space-between, center, column);
    }
    .defect-rate .estimation {
        color: $grey;
        font-size: 1.4rem;
        @include flex-align(flex-start, center, column);

        img {
            width: 70%;
        }
    }
    .select {
        width: 100%;
    }
}